.sidebar {
  height: 100vh;
  flex: 0.2;
  background: #040404;
  min-width: 230px;
  padding: 10px 10px 65px 10px;
}

.sidebar__logo {
  width: 140px;
  padding: 10px;
}

.sidebar__title {
  font-size: 12px;
  padding-left: 15px;
}

.sidebar > hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}

