.sidebarOption {
  display: flex;
  align-items: center;
  color: grey;
  height: 40px;
  cursor: pointer;
  transition: 200ms color ease-in;
  padding-left: 15px;
}

.sidebarOption:hover {
  color: #fff;
}

.sidebarOption_icon {
  padding-right: 10px;
}

.sidebarOption > p {
  margin-top: 10px;
  font-size: 14px;
}